@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500;1,900&display=swap');

:root{
    --primary-color:#047aed;
    --dark-color:#002240;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.6;
    
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;

}
h1,h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}
p{
    margin: 10px 0;
    letter-spacing: .08em;
    line-height: 1.875em;
}
img{
   max-width: 100%;
}

.flex{
    display: flex;
}
.flex-between{
    display: flex;
    justify-content: space-between;
}
.flex-around{
    display: flex;
    justify-content: space-around;
}
.grid{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.grid-2{
    grid-template-columns: repeat(2, 1fr);
}
.grid-3{
    grid-template-columns: repeat(3, 1fr);
}
.grid-4{
    grid-template-columns: repeat(4, 1fr);
    margin: 3rem 0;
}
.text-center{
    text-align: center;
}
.text-primary{
    text-align: justify;
}
.btn{
    display: inline-block;
    padding: 8px 25px;
    cursor: pointer;
    background-color: #000;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30px;

}
.btn:hover{
    background-color: #fff;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.btn-outline{
    background-color: transparent;
    color: #000;
    border: 1px solid var(--primary-color);
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
    padding: 10px 0;

}










