@media only screen and (max-width: 1024px) {
 header .container, footer .container {
     padding-left: 10px;
 }
}
@media only screen and (max-width: 980px) {
    #main > .flex{
    flex-direction: column;
    }#nav-right{
        order: 1;
        padding:0 100px ;
    }
    #card-info-group{
        order: 2;
    }
    #main-content{
        order: 3;
    }
    #nav-right nav ul{
        display: flex;
        justify-content: space-between;
    }
    #nav-right li {
        display: flex;
        align-items: center;
    }
    #nav-right {
    order: 1;
    padding: 0 50px;
    }
    #card-info-group {
        width: 100%;
        /* left */
    }
    #main-content {
        width: 100%;
        margin: 10px 0;
    }
}
@media only screen and (max-width: 800px) {
}
@media only screen and (max-width: 780px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 720px) {
    #information{
        flex-direction: column;
    }
    #information > div {
    width: 80%;
    padding-bottom: 20px;
    }
    #information > div {
    width: 100%;}
}
@media only screen and (max-width: 640px) {
    #social{
        padding: 0;
    }
    .item-work{
        flex-direction: column;

    }
    
    .work-time {
    position: static;
    padding: 5px;
    padding-left: 20px;
    display: inline-block;
    border-left: 1px solid rgb(192, 190, 190);
    }
    #group-references {
    padding: 0;}

    #contact form {
    padding: 30px 0 0 0 ;}
    .form-group {
    margin-bottom: 15px;
    display: block;
    }

    #contact form label {
    display:block;
    text-align: start;
    padding-right:0;
    padding-bottom: 10px;}

    #contact .btn {
    margin-left: 0;
    }
    header nav{
        display: none;
    }
    #icon-open-nav{
        display: none;
    }
    header .sidebar-btn{
        display: block;
    }
    header .container{
        padding: 10px;
    }
    #sidebar nav{
        display: block;
    }
}
@media only screen and (max-width: 600px) {
    .wrap {
    padding: 30px;
    }
}
@media only screen and (max-width: 568px) {
    .wrap {
    padding: 20px;
    }
}
@media only screen and (max-width: 563px) {
    #nav-right {
    padding: 0;
    }
    .grid{
        display: grid;
        gap: 10px;
    }
}
@media only screen and (max-width: 549px) {
    .list-references p{
            grid-column-start: 1;
            grid-column-end: 11;
        }
     .list-references > div {
            grid-column-start: 3;
            grid-column-end: 11;
        }
          .list-references{
            align-items: flex-start;

        }
        .container{
            padding: 0;
        }

}
@media only screen and (max-width: 534px) {
}
@media only screen and (max-width: 480px) {
    .wrap {
    padding: 10px;
        }
        #social ul {
            margin-bottom: 20px;
        }
        .wrap h3 {
            margin:10px 0;
        }
        #languages i {
            margin-right: 15px;
        }
}
@media only screen and (max-width: 414px) {
    #sidebar{
        width: 280px;
    }
    #sidebar-left {
    width: calc(100% - 280px);
    }
    #sidebar .card > div {
    padding: 20px 10px;
    }
}
@media only screen and (max-width: 411px) {
}
@media only screen and (max-width: 375px) {
}
@media only screen and (max-width: 360px) {
}
@media only screen and (max-width: 338px) {
}
@media only screen and (max-width: 330px) {
}
@media only screen and (max-width: 320px) {
}